<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.server.mapper.PictureShareMapper">

    <resultMap id="BaseResultMap" type="org.example.pojo.entity.PictureShare">
        <id property="id" column="id"/>
        <result property="pictureId" column="pictureId"/>
        <result property="userId" column="userId"/>
        <result property="platform" column="platform"/>
        <result property="createTime" column="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pictureId,userId,platform,createTime
    </sql>
</mapper>
