<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.picture.moderation.infrastructure.persistence.FeedbackMapper">

    <resultMap id="BaseResultMap" type="org.example.picture.moderation.domain.model.Feedback">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="priority" column="priority" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="relatedPictureId" column="relatedPictureId" jdbcType="BIGINT"/>
            <result property="relatedUserId" column="relatedUserId" jdbcType="BIGINT"/>
            <result property="handlerId" column="handlerId" jdbcType="BIGINT"/>
            <result property="isAnonymous" column="isAnonymous" jdbcType="TINYINT"/>
            <result property="closeReason" column="closeReason" jdbcType="VARCHAR"/>
            <result property="reopenCount" column="reopenCount" jdbcType="INTEGER"/>
            <result property="convertedReportId" column="convertedReportId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,title,content,type,priority,status,source,
        relatedPictureId,relatedUserId,handlerId,isAnonymous,
        closeReason,reopenCount,convertedReportId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
